@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

header {
  background-color: #222;
  position: fixed;
  width: 100vw;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.logo {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 15px;
}
.text_white {
  color: #f3f3f3;
  font-weight: bold;
}
.text_red {
  color: #d01418;
}

.header_buttons {
  display: flex;
  align-items: center;
  list-style: none;
}
.header_buttons a {
  color: #f3f3f3;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}
.header_buttons a:hover {
  background-color: #2b2b2b;
}
.cart {
  margin: 0 20px 0 35px;
  display: flex;
}

#banner {
  background: url(../img/banners/banner.png);
  background-size: cover;
  background-position: center;
  padding: 30vh 0vh;
  text-align: center;
  margin-top: 50px;
}
#banner span {
  font-size: 40px;
  font-weight: bold;
}
#banner a {
  background-color: #d01418;
  text-decoration: none;
  color: #f3f3f3;
  padding: 15px 50px;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}
#banner a:hover {
  background-color: #da1d21;
}

#featured_products {
  text-align: center;
}
h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 40px 0 5px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin: 15px;
  display: inline-block;
  cursor: pointer;
}
.card img {
  padding: 30px 70px;
}
.details {
  text-align: left;
  border-top: 1px solid #22222228;
  padding: 30px;
}
.price {
  font-size: 25px;
  font-weight: normal;
  padding: 0px 0px 5px;
}
.fees {
  font-size: 16px;
}
.shipping {
  font-size: 13px;
  color: #619d00;
}
