* {
  margin: 0;
}

.center {
  text-align: center;
}

header {
  background-color: #e6e6e6e6;
}

.audio {
  width: 100%;
}
h1 {
  color: #005677;
  background-color: #c4c4c4;
  font-size: 35px;
  margin-bottom: 100px;
}

h2 {
  color: #005677;
  background-color: #c4c4c4;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

dt {
  margin-left: 25px;
}
dd {
  margin-left: 100px;
}

iframe {
  width: 100%;
}
footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005677;
}
footer h2 {
  color: #ffffff;
  background-color: #005677;
}
.icons {
  padding: 10px;
}
